<!doctype html>
<title>Audio Extractor</title>
<h3>Audio Extractor</h3>
<p>Enter a URL containing audio links</a>
<form action="/" method="get">
  <input type="text" name="url" />
  <input type="submit" value="extract" />
</form>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    console.log("DOM fully loaded and parsed");
    var plays = document.querySelectorAll(".play")
    plays.forEach(function(el) {
      function reqListener () {
          el.innerHTML = this.responseText
      }

      el.querySelector('a.start').addEventListener('click', function(ev) {
        href = el.querySelector('a.start').href;
        el.innerHTML = "downloading.."
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", reqListener);
        oReq.open("GET", "/player?url=" + encodeURIComponent(href));
        oReq.send();
        ev.preventDefault()
      })
    })
  });

</script>

{% if url %}
<p> results for <b><i>{{ url }}</i></b> </p>
  {% if error %}
    <p>Error scraping page</p>
    <pre>
      {{ error }}
    </pre>
  {% else %}

    <p><b>Feeds:</b></p>

    {% if data.feeds %}
      <ul>
      {% for feed in data.feeds %}
        <li>
          {{ feed["title"] }} <a href="{{ feed.url }}">{{ feed.url }}</a> ({{ feed["type"] }})
        </li>
      {% endfor %}
      </ul>
    {% else %}
    <p>No feeds were found on the page</p>
    {% endif %}

    <p><b>Audio looking links:</b></p>
    {% if data.audio %}
      <ul>
      {% for result in data.audio %}
        <li>
          <a href="{{ result }}" target="_blank">{{ result }}</a>
          <span class="play" >
            <a href="{{ result }}" class="start"><b>[play]</b></a>
          </span>
        </li>
      {% endfor %}
      </ul>
    {% else %}
    <p>No audio links were found on the page</p>
    {% endif %}

    <p><b>Other links found on this page:</b></p>
    {% if data.all %}
      <ul>
      {% for result in data.all %}
        <li> <a href="{{ result }}" target="_blank">[{{ result }}</a> </li>
      {% endfor %}
      </ul>
    {% else %}
    <p>No links at all found on this page!</p>
    {% endif %}
  {% endif %}
{% else %}
  <p>Eg.</p>
  <p><a href="/?url=https%3A%2F%2Fwww.thisamericanlife.org%2F658%2Fthe-unhappy-deciders">https://www.thisamericanlife.org/658/the-unhappy-deciders</a></p>
  <p><a href="/?url=https%3A%2F%2Falternativlos.org%2F35#">https://alternativlos.org/35</a></p>
{% endif %}
